apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: ecommerce
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    
    scrape_configs:
      - job_name: 'product-service'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - ecommerce
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: product-service
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:3001
      
      - job_name: 'order-service'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - ecommerce
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: order-service
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:3002
      
      - job_name: 'user-service'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - ecommerce
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: user-service
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:3003