apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: ecommerce
type: Opaque
stringData:
  mongodb-uri: "mongodb+srv://sabavathakash9_db_user:acnayak9@cluster0.mnauwo4.mongodb.net/?appName=Cluster0"